[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
pytest-html = "*"
pytest-xdist = "*"
jsonschema = "*"
pytest-check = "*"

[dev-packages]

[requires]
python_version = "3.9"
